## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
xcuserdata/

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
Package.resolved
.build/
.swiftpm/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/backlink.json
.obsidian/canvas.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/plugins
